table {
    width: 100%;
}

.addproperty {
    margin-left: 80%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.mat-form-field,
div {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
}