<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Admin</h2>
            <h4>Admin@gmail.com</h4>
        </div>
        <img src="/assets/logo1.jpg" alt="Logo">
    </div>
    <mat-divider> </mat-divider>
    <h2 MatSubHeader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/equipement">Equipment</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/installation">Installation </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/rules">Rules</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/categories">Categories</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/location">Location</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/bed">Bed</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/property">Property</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/location">Location</a>
    <h2 MatSubHeader>Front Office</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Pages</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/post">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/account">Properties</a>
    <mat-divider> </mat-divider>
</mat-nav-list>