<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <!-- Login -->
            <mat-tab label="Sign In">
                <mat-card-content>
                    <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onLogin(form)">
                        <img src="/assets/user.webp" width="150px" height="150px" text-align="center" class="mx-auto d-block">
                        <mat-form-field>
                            <input matInput placeholder="Username" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" minlength="6" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
                        </mat-form-field>
                        <mat-checkbox>Remember Me!</mat-checkbox>
                        <button mat-raised-button color="primary" class="login-button">
                                    Sign In
                                    </button>
                        <button mat-raised-button class="login-button">
                                    Login with Google
                                    </button>
                    </form>
                </mat-card-content>
            </mat-tab>
            <!--Registration -->
            <mat-tab label="Sign Up">
                <mat-card-content>
                    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onRegister()">
                        <mat-form-field>
                            <input matInput placeholder="User Name" required formControlName="UserName">
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error *ngIf="service.formModel.get('UserName').invalid">
                                Username is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="Email" required>
                            <mat-error *ngIf="service.formModel.get('Email').invalid">Email is required</mat-error>
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Full Name" formControlName="FullName" required>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" formControlName="Password">
                            <mat-error *ngIf="service.formModel.get('Password').hasError('required')">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="service.formModel.get('Password').hasError('minlength')">
                                Password must be of length 6
                            </mat-error>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" formControlName="ConfirmPassword">
                            <mat-error *ngIf="service.formModel.get('ConfirmPassword').errors?.required">
                                Re-Enter Password is required
                            </mat-error>
                            <mat-error *ngIf="service.formModel.get('ConfirmPassword').errors?.passwordMismatch">
                                Password does not much
                            </mat-error>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <button mat-raised-button color="primary" class="login-button">
                    Sign Up
                    </button>
                    </form>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>